body {
  background: #5ca4a9;
}
.App {
  text-align: center;
  padding: 0.5em;
}

.tableRow {
  border: none;
}

.tableCell {
  cursor: pointer;
  width: 3em;
  min-width: 3em;
  min-height: 3em;
  border: 3px solid white;
}

.controls {
  margin-top: 2em;
  display: flex;
  background: #9bc1bc;
  border-radius: 25px;
  padding: 1em;
}

.rules {
  text-align: end;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 250;
  font-size: 1;
  line-height: 1.5;

  background: #9bc1bc;
  padding: 1.5em;
  border-radius: 25px;
  margin-top: 1.5em;
}

.controls .btn {
  margin-right: 1em;
  cursor: pointer;
}
