body {
  background: #5ca4a9;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.App {
  text-align: center;
  padding: 0.5rem;
}

h1 {
  font-weight: 100;
  line-height: 1.5;
}
.tableRow {
  border: none;
}

.tableCell {
  cursor: pointer;
  width: 3em;
  min-width: 3em;
  min-height: 3em;
  border: 3px solid white;
  border-bottom: 3px solid white !important;
}

.controls {
  margin-top: 2rem;
  display: flex;
  background: #9bc1bc;
  border-radius: 15px;
  padding: 1em;
  justify-content: center;
}

.rules {
  font-weight: 150;
  line-height: 1;
  background: #9bc1bc;
  padding: 1rem;
  border-radius: 15px;
  margin-top: 1.5rem;
}

.controls .btn {
  margin-right: 1rem;
  cursor: pointer;
}

.footer {
  margin: 1rem;
}

.footer-item {
  padding: 0.5rem;
}
